<ion-header no-shadow>
  <ion-navbar>
    <ion-title>
      {{'INFO' | translate}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="content-bg">

  <ion-slides #slider>
    <ion-slide class="slide-style" *ngFor="let slide of slides">
      <h2 class="transparent-bg main-title">{{slide.title}}</h2>
      <p class="transparent-bg text preserve-line-breaks">{{slide.description}}</p>
      <a *ngIf="slide.link" class="depression-warning-link" href="http://{{slide.link}}">{{slide.link}}</a>
      <p *ngIf="slide.afterLink" class="transparent-bg text preserve-line-breaks">{{slide.afterLink}}</p>
      <a *ngIf="slide.phoneNumber" class="depression-warning-link preserve-line-breaks"
         href="tel:{{slide.phoneNumber}}">{{slide.phoneNumber}}\n\n</a>
      <button ion-button round large class="quokka-button" (click)="okay()">{{'FORWARD' | translate}}</button>
    </ion-slide>
  </ion-slides>

</ion-content>
