<ion-header>

  <ion-navbar>
    <ion-title>{{ 'INTERVENTION_TITLE' | translate }}</ion-title>

    <ion-buttons end>
      <button ion-button (click)="showInfo()">
        <ion-icon name="md-information-circle" style="font-size: xx-large">
        </ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>

</ion-header>

<ion-content class="content-bg">

  <ion-item class="pad-right-16 transparent-bg" text-wrap *ngIf="userGroup !== 3">
    <ion-label class="text">{{'INTERVENTION_ALERT' | translate}}</ion-label>
    <ion-toggle [(ngModel)]="alertActive" (ionChange)="updateAlertActivation()"></ion-toggle>
  </ion-item>

  <ion-item class="pad-right-16 transparent-bg" text-wrap *ngIf="alertActive && userGroup !== 3">
    <ion-label style="color: white !important;" class="text">{{'INTERVENTION_TIME' | translate}}</ion-label>
    {{alertTime | date: "H:mm"}}
    <ion-datetime displayFormat="HH:mm" pickerFormat="HH:mm" [(ngModel)]="alertTime"
                  (ionChange)="updateAlertTime()"></ion-datetime>
  </ion-item>


  <ion-item text-wrap class="pad-right-16 transparent-bg" [ngClass]="{'group-3-text-middle' : userGroup === 3}">
    <ion-label class="preserve-line-breaks text">{{infoText}}</ion-label>
  </ion-item>

  <ion-item class="pad-right-16 transparent-bg" *ngIf="userGroup !== 3"
            [ngClass]="{'no-bottom-border': !(!interventionReadyTime  && userGroup !== 3)}">
    <div class="quokka-horizontal-center-container">
      <button class="quokka-button quokka-horizontal-center-item" ion-button round large
              [disabled]="!interventionReadyTime" (click)="startIntervention()">
        {{'INTERVENTION_BUTTON_LABEL' | translate}}
      </button>
    </div>
  </ion-item>

  <ion-item text-wrap class="pad-right-16 transparent-bg no-bottom-border"
            *ngIf="!interventionReadyTime && userGroup !== 3">
    <ion-label class="text preserve-line-breaks">{{'DIARY_DONE' | translate}}</ion-label>
  </ion-item>

</ion-content>
