<ion-header>

  <ion-navbar>
    <ion-title>{{ 'QUESTIONAIRE_TITLE' | translate }}</ion-title>
  </ion-navbar>

  <!--<progress-bar [progress]="shownProgress"></progress-bar>-->

</ion-header>

<ion-content sc class="content-bg">
  <ion-slides #slides [pager]="true" paginationType="progress">

    <ion-slide>
      <h1>{{questionaire.title}}</h1>
      <h5>{{questionaire.description}}</h5>
      <button ion-button (click)="nextSlide()">Next</button>
    </ion-slide>

    <ion-slide *ngFor="let page of questionaire.pages; let i = index">
      <h1>{{page.title}}</h1>
      <h5>{{page.text}}</h5>

      <ion-list #list radio-group [(ngModel)]="currentSelectedValue" *ngIf="page.answers[0].type === 'radio'">
        <ion-item *ngFor="let answer of page.answers; let j = index" (click)="openTextField(answer, page.title)">
          <ion-radio (click)="openTextField(answer, page.title)" [value]="answer.value"></ion-radio>
          <ion-label (click)="openTextField(answer, page.title)">{{answer.text}}</ion-label>
        </ion-item>
      </ion-list>

      <div style="margin-bottom: 120px" *ngIf="page.answers[0].type === 'input_number'">
        <ion-item>
          <ion-label>{{page.answers[0].text}}</ion-label>
          <ion-input type="number" [(ngModel)]="currentSelectedValue"></ion-input>
        </ion-item>
      </div>

      <button ion-button [disabled]="!currentSelectedValue" (click)="nextSlide()" #nextButton>Next</button>
    </ion-slide>

  </ion-slides>
</ion-content>
