.progress-outside {
  width: 96%;
  margin: 10px 2%;
  padding: 3px;
  text-align: center;
  background-color: white;
  border: 2px solid black;
  color: #fff;
  border-radius: 20px;
  position: absolute;
}

.progress-inside {
  min-width: 15%;
  white-space: nowrap;
  overflow: hidden;
  padding: 5px;
  border-radius: 20px;
  background-color: map-get($colors, primary);
}
